.myContainer div {
    margin-bottom: 10px;
}
.login-background {
    background: color("https://www.hr.com/portals/hrcom/Page/images/Cover-photos/HRcom-HomeSplash.jpg");
}
.login-fix {
    background: #fffdfd40;
    border: white;
    padding-top: 172px;
    font-style: italic;
    color: aliceblue;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: row;
}